name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - run: python -m pip install -U pip
      - run: python -m pip install -e ".[dev]"
      - run: python -m pip freeze

      - run: ruff check .
      - run: ruff format --check .

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - run: python -m pip install -U pip
      - run: python -m pip install -e ".[dev]"
      - run: python -m pip freeze

      - run: mypy src tests

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - run: python -m pip install -U pip
      - run: python -m pip install -e ".[dev]"
      - run: python -m pip freeze

      - run: pytest -q

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - run: python -m pip install -U pip
      - run: python -m pip install build
      - run: python -m build
