name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
          python -m pip freeze

      - name: Ruff (lint)
        run: ruff check . --output-format=github

      - name: Ruff (format)
        run: ruff format --check .

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
          python -m pip freeze

      - name: Mypy
        run: mypy src tests --show-error-codes --pretty

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
          python -m pip freeze

      - name: Pytest
        run: pytest -q -vv

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Build sdist/wheel
        run: |
          python -m pip install -U pip
          python -m pip install build
          python -m build
